# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Build artifacts
build/
dist/
.turbo/
.cache/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Tooling
.vercel/
storybook-static/

# Misc
*.local
